
<!-- lista geral de vagas -->
{%for v in vaga%}
   {%if v.status == True%}
    <br>
        {{v.titulo}} <br>
        {{v.salario}} <br>
        {{v.tipo_contrato}} <br>
        {{v.empresa}} <br>
        {{v.requisitos}} <br>
    {%endif%}
{%endfor%}

<br>

<!-- empresa por vaga -->
{%for ve in vagaempresa%}
    {{ve.empresa__nome}}
    {{ve.count}}
    <br>
{%endfor%}
<br>
Vagas CLT:<br>
{%for clt in vagaclt %}
    {{clt.titulo}}
    {{clt.count}}
 <br>
{%endfor%}

<br>
Vagas PJ <br>
{%for pj in vagapj %}
    {{pj.titulo}}
    {{pj.count}}
 <br>
{%endfor%}








