{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>We Are Hiring</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900" rel="stylesheet">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory

          <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

     -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta name="theme-color" content="#fafafa">
    <style type="text/css">

            .row-button-base{background-color:white;  border-radius: 25px; font-size:12px; width:120px; height:40px;}
            .row-img{height:130px;}
            .row-objects{height:70px;}
            .row-title-1{height:120px;}
            .row-title-2{height:90px;}
            .row-buttons{height:80px;}
            .row-social{height:60px;}
            .row-menu{width:300px; float:right;}
            .row-menu li{width:100px; float:left;  list-style:none; margin-top:20px;  font-size:14px;}
            .img-fnd{background-image: url({%static 'img/fnd.png'%});
             background-repeat: no-repeat;background-size:100%; bottom: 0; color: black; left: 0; overflow: auto;
             padding: 3em;top: 0;background-size: cover;}
            .footer-menu{height:100px;}

    </style>
</head>

<body style="background-color:#f7f7f7">
<div class="container">
    <header>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="row-img mt-5">
                    <img src="{% static 'img/logo.png'%}" alt="logo" class="img-fluid"/>
                    <img src="{% static 'img/triangulo_logo.png'%}" alt="logo" class="img-fluid"
                         style="position:relative; top:10px; left:10px;"/>
                </div>
                <div class="row-objects">
                    <img src="{% static 'img/objects.png'%}" alt="logo" class="img-fluid"/>
                </div>
                <div class="row-content-container">
                    <div class="row-title-1">
                        <h1> Job Management Made Easy!</h1>
                    </div>
                    <div class="row-title-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, minima!</p>
                    </div>
                    <div class="row-buttons">
                        <button class="row-button-base" href="#"
                                style="background-color:#8065ff; color:white; border:1px solid white;">SIGNUP FREE
                        </button>
                        <button class="row-button-base" href="#" style="color:#8065ff; border:1px solid white;">WATCH
                            VIDEO
                        </button>
                    </div>
                    <div class="row-social">
                        <span class="fa fa-twitter" style="color:blue;"> Share on Twitter</span>
                        <span class="fa fa-facebook" style="margin-left:20px; color:blue;">  Share on Facebook</span>
                    </div>
                    <p>80,000+ users all over the world are already using fieldmagic and creating amazing outcomes.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 img-fnd">
                <nav>
                    <ul class="row-menu">
                        <li><a href="/admin" style="color:white; ">ENTRAR</a></li>
                    </ul>
                </nav>
            </div>
    </header>
    <main style="margin:0 auto;">
        <div class="container">
            <div class="row">
                <img src="{% static 'img/objects.png'%}" alt="logo" class="img-fluid"
                     style="margin:0 auto; margin-top:30px;"/>
            </div>
            <div class="row" style="margin: 0 auto; margin-left:44px; margin-top:15px;">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1"
                            aria-expanded="true" aria-controls="collapseExample1"> Vagas por Empresa
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
                            aria-expanded="true" aria-controls="collapseExample2"> Vagas CLT
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3"
                            aria-expanded="true" aria-controls="collapseExample3"> Vagas PJ
                    </button>
                </p>
                <div class="collapse.show" style=" width:990px;" id="collapseExample1">
                    <div class="card card-body">
                        {%for ve in vagaempresa%}
                        {{ve.empresa__nome}}:
                        {{ve.count}}
                        <br>
                        {%endfor%}
                    </div>
                </div>
                <div class="collapse" style="width:990px;" id="collapseExample2">
                    <div class="card card-body">
                        {%for clt in vagaclt %}
                        {{clt.titulo}}:
                        {{clt.count}}
                        <br>
                        {%endfor%}
                    </div>
                </div>
                <div class="collapse" style="width:990px;" id="collapseExample3">
                    <div class="card card-body">
                        {%for pj in vagapj %}
                        {{pj.titulo}}:
                        {{pj.count}}
                        <br>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="row" style=" margin:0 auto; ">
                <div class="up">
                    {%for v in vaga%}
                    {%if v.status == True%}
                    <div class="card" style=" border:1px solid black;width: 300px; height:200px; float:left; margin-left:44px; margin-top:40px;">
                        <div class="card-body">
                            <h5 class="card-title">{{v.titulo}} - {{v.empresa}} </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{v.salario}}</h6>
                            <p class="card-text"> {{v.requisitos}} </p>
                            <a href="#" class="card-link">Continuar Lendo...</a>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
            </div>

        </div>
        <br style="clear:both;">
    </main>
</div>
<footer style="background-color:#33334f;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                <img src="{% static 'img/logo_footer.png'%}" alt="logo" class="img-fluid"/>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <p style="color:#767ead; font-weight: 100; float:left; font-family: Myriad Pro;">&copy; 2019 Todos os direitos reservados.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="float:left;">
                <ul>
                    <li style="float:left;list-style: none;width:50px;"><a href="#" style="color:#767ead;" class="fa fa-facebook"></a></li>
                    <li style="float:left; list-style: none; width:50px;"><a href="#" style="color:#767ead;" class="fa fa-twitter"></a></li>
                    <li style="float:left; list-style: none; width:50px;"><a href="#" style="color:#767ead;" class="fa fa-instagram"></a></li>
                    <li style="float:left; list-style: none; width:50px;"><a href="#" style="color:#767ead;" class="fa fa-youtube"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>-->

<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
